* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
}

#app {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.block {
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    li {
        padding: 10px 20px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
    }

    &.block--left {
        left: 0;
    }

    &.block--right {
        right: 0;
    }
}
