@import "./variables.scss";
@import "./custom-scrollbar.scss";
@import "./bootstrap-fork.scss";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    user-select: none;
}

.brand-scrollbar::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: #fff;
}

.brand-scrollbar::-webkit-scrollbar
{
	width: 4px;
    height: 4px;
}

.brand-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: $sunflower;
}

#list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 2px -5px 5px rgba(0,0,0,.15);
    @include scrollbars(.5em, slategray);

    li {
        font-size: 14px;
        line-height: 29px;
        padding: 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: rgba(0,0,0,.5);

        &.strong {
            color: rgba(0,0,0,.7);
            font-weight: bold;
        }

        &.head {
            background: #3b3f43;
            color: #fff;
            font-weight: bold;
        }

        &.normal {
            font-style: italic;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #d8d8d8;
        }
    }
}

#table {
    position: absolute;
    left: 150px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    @include scrollbars(.5em, slategray);

    table {
        border-collapse: collapse;
        table-layout: fixed;
    }

    .head {
        td {
            background: #3b3f43;
            color: #fff;
            font-weight: bold;
            border: 1px solid rgba(0,0,0,.1);
        }
    }

    tr {
        height: 30px;

        td {
            color: rgba(0,0,0,.5);
            font-size: 14px;
            border-collapse: collapse;
            border: 1px solid #d8d8d8;
            border-width: 0 1px 1px 0;
            padding: 0 10px;
            text-align: center;
        }

        &.strong {
            td{
                color: rgba(0,0,0,.7);
                font-weight: bold;
            }
        }

        &.normal {
            td {
                font-style: italic;
            }
        }
    }
}
